<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h2>DISPLAY TOPICS BY CHECKBOX</h2>
        <form action="{% url 'select_topic' %}" method="POST">
        {% csrf_token %}
        <h3>topic_name</h3>
        {% for i in LOT %}
        <label for="topic">{{i.topic_name}}</label>
            <input type="checkbox" name="topic" id="topic" value="{{i}}"><br>
        {% endfor %}

        <input type="submit" value="Retrieve">
        </form>
    </center>
</body>
</html>